/* style.css */

.file-input-container {
  margin-right: 20px;
}

.player-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 10px;
}

.custom-file-input {
  opacity: 0;
  cursor: pointer;
}

.custom-file-label {
  background-color: #0d5c63;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-input:focus + .custom-file-label {
  outline: 1px solid #000;
}

.custom-file-label:hover {
  background-color: #093e42;
}
